/*mobile*/

@media screen and (max-width: 768px) {
    html{
        width: 100%;
    }
    
    .fondo p{
            display: none;
      }

    .fondo h1 {
        margin-left: 110px;
    }

    

    .links__portugues{
        margin-bottom: 10px;
    }

    .links__frances{
        margin-top: 10px;
    }

    .Form textarea{
        width: 300px;
    }

    .Nosotros img{
        display: none;
    }

    #carouselExampleControls{
        display: none;
    }

    .Nosotros p{
        padding-top: 50px;
    }

    .Valores__2{
        margin-left: 15px;
    }

    .Valor h2{
        margin-left: 20px;
        margin-right: 20px;
    }

    .Valores__3{
        margin-left: -15px;
    }

    .altura li{
        height: 18.4px;
    }

    .lenguas{
        width: 100%;
    }

    .navegacion ul{
        display: flex;
        justify-content: space-evenly;  
        flex-direction: row;
    }

    .slide{
        display: none;
    }

    .Idiomas{
        grid-template-rows: 100px auto 100px auto;
        align-items: unset;
        margin-left: 0px;
        padding-left: 0px;
        grid-template-columns: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .row1{
        padding-right: 30px;
        margin-left: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 400px;
        text-align: center;
    }
    
    .row2{
        display: flex;
        justify-content: center;  
        flex-direction: column; 
        height: auto;   
        width: 400px; 
        text-align: center; 
        align-items: center;

        p{       
            margin-left: 40px;
            margin-right: 40px;
            padding-left: 10px;
            padding-right: 40px;
            margin-top: 20px;
            margin-bottom: 30px;
            width: 400px;
        }

        img{
            margin-top: 1s0px;
            margin-bottom: 20px;    
            padding-right: 40px;
        }
    }

    .row3{
        height: 250px;
        display: flex;
        justify-content: center; 
        padding-top: 20px;
        width: 400px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 40px;  
        padding-top: 10px;     
    }
   
    .row4{
        display: flex;
        justify-content: center;  
        flex-direction: column; 
        height: auto;   
        width: 400px;   
        text-align: center;

        p{      
            padding-bottom: 30px;
            margin-right: 20px;
            padding-left: 10px;
            padding-right: 20px;
        }

        img{
   
            padding-right: 30px;
        }    
    }

    .Escribinos{
        padding-left: 10px;
        text-align: center;
        padding-right: 20px;
    }

    .pieGen{
        text-align: center;
    }

    
}
