/*mobile*/

@media screen and (max-width: 1024px) {
    html{
        width: 100%;
    }

    .fondo{
        background-image: none;
        background-color:  rgb(225, 203, 166);
        height: 300px;

        p{
            display: none;
        }

        h1{
            margin-left: 20px;
            margin-right: 20px;
            width: auto;
        }    
    }
    
    .links__portugues{
        margin-bottom: 20px;
    }

    .links__frances{
        margin-top: 20px;
    }

    .Nosotros img{
        display: none;
    }

    #carouselExampleControls{
        display: none;
    }

    .Nosotros p{
        padding-top: 50px;
    }

    .Valor h2{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }

    .Valores__1{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }

    .Valores__2{
        margin-left: 0px;
        margin-right: 0px;
    }

    .Valores__3{
        margin-left: 0px;
        margin-right: 0px;
    }

    .Formulario{
        margin-left: 20px;
        margin-right: 20px;
    }

    .Form textarea{
        width: 300px;
    }

    .lenguas{
        width: 100%;
    }

    .navegacion ul{
        display: flex;
        justify-content: space-evenly;  
        flex-direction: row;
    }

    .slide{
        display: none;
    }

    .Idiomas{
        grid-template-rows: 100px auto 100px auto;
        align-items: unset;
        margin-left: 0px;
        padding-left: 0px;
        grid-template-columns: auto;
        text-align: center;
        margin-bottom: 30px;
        justify-self: center;
    }

    .row1{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 0px;
        padding-bottom: 10px;
        text-align: center;
        justify-self: center;
    }
    
    .row2{
        display: flex;
        justify-content: center;  
        flex-direction: column; 
        height: auto;   
        text-align: center; 
        align-items: center;
        justify-self: center;

        p{       
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 40px;
            margin-bottom: 40px;
            padding-left: 0px;
            padding-right: 0px;
        }

        img{
            justify-self: center;
        }
    }

    .row3{
        height: 250px;
        display: flex;
        justify-content: center; 
        padding-top: 20px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 20px;
        justify-self: center;     
    }
   
    .row4{
        display: flex;
        justify-content: center;  
        flex-direction: column; 
        height: auto;      
        text-align: center;

        p{      
            margin-bottom: 40px;
            margin-right: 40px;
            margin-left: 40px;
            padding-left: 0px;
            padding-right: 0px;
        }

        img{  
            justify-self: center;
        }    
    }

    .Escribinos{
        padding-left: 20px;
        text-align: center;
        padding-right: 20px;
    }

    .pieGen{
        text-align: center;
    }  
}

@media screen and (max-width: 320px) {
    .Form textarea{
        width: 250px;
    }

    .row2 img{
        display: none;
    }

    .row2 p{
        margin-top: 0px;
    }

    .row4 img{
        display: none;
    }
}

